{% extends 'base.html' %} {% block header %}Proveedores{% endblock %} {% block
title %}Proveedores{% endblock %} {% block new %}
<a
  href="{{ url_for('supplier.register') }}"
  class="btn btn-primary"
  tabindex="-1"
  role="button"
  aria-disabled="true"
>
  <span data-feather="plus-circle" class="align-text-bottom"></span>
  Nuevo
</a>
{% endblock %} {% block content %}
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Cuit</th>
        <th scope="col">Razón Social</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for supplier in suppliers %}
      <tr>
        <td>{{ supplier['cuit'] }}</td>
        <td>{{ supplier['razon_social'] }}</td>
        <td>
          <a
            href="{{ url_for('supplier.update', razon_social=supplier['razon_social']) }}"
            ><i class="bi bi-pencil-fill"></i
          ></a>
        </td>
      </tr>
      {% if not loop.last %} {% endif %} {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
