{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Editar "{{ supplier['razon_social'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="razon_social">Razon Social</label>
    <input name="razon_social" id="razon_social"
      value="{{ request.form['razon_social'] or supplier['razon_social'] }}" required>
    <label for="cuit">Cuit</label>
    <input name="cuit" id="cuit" value="{{ request.form['cuit'] or supplier['cuit'] }}">
    <input type="submit" value="Guardar">
  </form>
  <hr>
  <form action="{{ url_for('supplier.delete', razon_social=supplier['razon_social']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('estas seguro?');">
  </form>
{% endblock %}
