{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Nueva compra{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post" class="row gy-2 gx-3">
  <div class="row mb-3">
    <div class="col-sm-2">
      <label for="numero_comprobante" class="form-label"># Comprobante</label>
      <input type="number" class="form-control" name="numero_comprobante" id="numero_comprobante" required />
    </div>
    <div class="col-sm-2">
      <label for="supplier_id" class="form-label">Proveedor</label>
      <select name="supplier_id" class="form-select">
        {% for supplier in suppliers %}
        <option value="{{ supplier['id'] }}">
          {{ supplier['razon_social'] }}({{ supplier['cuit'] }})
        </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-2">
      <label for="fecha_compra" class="form-label">Fecha de compra</label>
      <input type="date" class="form-control" name="fecha_compra" id="fecha_compra" required />
    </div>
    <div class="col-sm-2">
      <label for="fecha_pago" class="form-label">Fecha de pago</label>
      <input type="date" class="form-control" name="fecha_pago" id="fecha_pago" required />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-1">
      <label for="otros_impuestos" class="form-label">Impuestos</label>
      <input type="number" class="form-control" step="any" name="otros_impuestos" id="otros_impuestos" />
    </div>
    <div class="col-sm-1">
      <label for="no_gravado" class="form-label">No gravado</label>
      <input type="number" class="form-control" step="any" name="no_gravado" id="no_gravado" />
    </div>
    <div class="col-sm-2">
      <label for="total" class="form-label"><b>Total</b></label>
      <input type="number" class="form-control" step="any" name="total" id="total" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </div>
</form>
{% endblock %}